.btn-primary{
	background-color: black;
}

#services{
	background-color: black;
	color: white;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

#services img{
	max-width: 100%;
}

header.masthead {
	/*Bilden bakom rubriken*/
    background-image: url("../img/startbild.jpg");
}

:root {
	/*
	- Om du ändrar bara radioHeight ändras mellanrummet mellan alternativen
	- Om du ändrar bara radioWidth ändras avståndet mellan checkboxrutan och alternativtexten
	- Om du ändrar båda ändras chexboxrutans storlek*/
	--radioHeight: 20px;
	--radioWidth: 20px;
}

.styleAlt {
	/*Stilformatering för svarsalternativen*/
	font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 30px;
	color:white;
	padding: 5px;
	border: 0px;
	margin: 0px;
}

.textBox {
	/*Färgad, lätt genomskinlig box som kan läggas bakom text skriven över bilder, för att underlätta läsning*/
	background-color:rgba(0, 0, 0, 0.8);
	border:2px solid black;
	padding:2px;
}
